*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  background-image: url(./resources/AdobeStock_81455780.jpeg);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
	font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
h2{
  font-size: 48px;
}

 h3{
  font-size: 28px;
}

li{
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  line-height: 150%;
}

p{
  font-size: 20px;
}

.container{
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
}

#square{
  border-bottom: 5px solid white;
}

.cta{
  background-color: #E9204F;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
}
.cta:hover{
	background-color: #ce0e3b;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15%;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	background-color: #E9204F;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
  margin-top: 27%;
}
button:hover{
	background-color: #ce0e3b;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


footer{
  position: absolute;
  bottom: 15px;
  left:35%;
  text-align: center;
  text-decoration: none;
}

.passwordInput{
  margin-top: 5%; 
  text-align :center;
}

.displayBadge{
  margin-top: 5%; 
  display: none; 
  text-align :center;
}
input{
  padding: 20px 45px;
}
span{
  padding: 10px 45px;
}